<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Vendors APP </a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/vendors">Vendors</a>
                </li>
            </ul>
            <!--<form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit"></button>
            </form>-->
            <div *ngIf="auth.user | async as user; else login" class="d-flex align-middle">
                <a *ngIf="auth.canDelete(user)" style="color: white; margin-right: 1em;" routerLink="/create-user">Add User</a>
                <span style="color: white; margin-right: 1em;"> {{user.displayName}} </span>
                <fa-icon
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Log out"
                    (click)="auth.logout()"
                    [icon]="faSignOut"
                    size="2x"
                    style="color: white; cursor: pointer;"
                ></fa-icon>
            </div>
            <ng-template #login>
                <fa-icon
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Log in"
                    routerLink="/login"
                    [icon]="faSignIn"
                    size="2x"
                    style="color: white; cursor: pointer;"
                ></fa-icon>
            </ng-template>
        </div>
    </div>
</nav>
